<div fxLayout="row" fxLayoutWrap="wrap" style="padding: 10px 0 0 5px;" fxLayoutAlign="start center">
    <md-input-container fxFlex.gt-sm="40" fxFlex="100">
        <input mdInput placeholder="Type to filter..." required (keyup)='updateFilter($event)'>
    </md-input-container>
    <div fxFlex></div>
    <button md-mini-fab color="warn" class="mr-1" (click)="onAddVideo()"><md-icon>add</md-icon></button>
</div>

<ngx-datatable class='material' 
    [columnMode]="'force'" 
    [headerHeight]="50" 
    [footerHeight]="50" 
    [rowHeight]="'auto'" 
    [limit]="10" [rows]='rows'>

    <!--<ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="true" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
        [checkboxable]="true">
    </ngx-datatable-column>-->

    <ngx-datatable-column name="Title" [sortable]="true" [width]="380"></ngx-datatable-column>

    <ngx-datatable-column name="Thumbnail" [sortable]="true" [width]="200">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <div class="thumbnail" [style.background-image]="'url(' + value + ')'" [style.height.px]="160"></div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Publish" [sortable]="true" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row?.published}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Created" [sortable]="true" [width]="100"></ngx-datatable-column>

    <ngx-datatable-column name="Publisher" [sortable]="true" [width]="100"></ngx-datatable-column>

    <ngx-datatable-column name="videoId" [width]="100">
        <ng-template ngx-datatable-header-template>Edit</ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            <button md-icon-button (click)="onEditVideo(value)"><md-icon style="color:orange">create</md-icon></button>
            <button md-icon-button (click)="onDeleteVideo(value)" [disabled]="true" ><md-icon style="color:brown">delete</md-icon></button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
