.thumbnail {
    position: relative;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    img {
        display: block;
        max-width: 100%;
    }
}