<div fxLayout="row" fxLayoutWrap="wrap" style="padding: 10px 0 0 5px;" fxLayoutAlign="start center">
    <md-input-container fxFlex.gt-sm="40" fxFlex="100">
        <input mdInput placeholder="Type to filter..." required (keyup)='updateFilter($event)'>
    </md-input-container>
    <div fxFlex></div>
    <button md-mini-fab color="warn" class="mr-1" (click)="onAddPlayer()"><md-icon>add</md-icon></button>
</div>

<ngx-datatable class='material' 
    [columnMode]="'force'" 
    [headerHeight]="50" 
    [footerHeight]="50" 
    [rowHeight]="'auto'" 
    [limit]="10" [rows]='rows'>

    <!--<ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="true" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
        [checkboxable]="true">
    </ngx-datatable-column>-->

    <ngx-datatable-column name="PlayerNumber" [sortable]="true" [width]="100"></ngx-datatable-column>

    <ngx-datatable-column name="PlayerName" [sortable]="true" [width]="100"></ngx-datatable-column>

    <ngx-datatable-column name="Position" [sortable]="true" [width]="100"></ngx-datatable-column>

    <ngx-datatable-column name="Height" [sortable]="true" [width]="100"></ngx-datatable-column>

    <ngx-datatable-column name="Weight" [sortable]="true" [width]="100"></ngx-datatable-column>

    <ngx-datatable-column name="Age" [sortable]="true" [width]="100"></ngx-datatable-column>

    <ngx-datatable-column name="Exp" [sortable]="true" [width]="300"></ngx-datatable-column>

    <ngx-datatable-column name="playerId" [width]="100">
        <ng-template ngx-datatable-header-template>Edit</ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            <button md-icon-button (click)="onEditPlayer(value)"><md-icon style="color:orange">create</md-icon></button>
            <button md-icon-button (click)="onDeletePlayer(value)" [disabled]="false" ><md-icon style="color:brown">delete</md-icon></button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
