<div fxLayout="row" fxLayoutWrap="wrap" style="padding: 10px 0 0 5px;" fxLayoutAlign="start center">
  <md-input-container fxFlex.gt-sm="40" fxFlex="100">
    <input mdInput placeholder="Type to filter..." required (keyup)='updateFilter($event)'>
  </md-input-container>
  <div fxFlex></div>
  <button md-mini-fab color="warn" class="mr-1" (click)="onAddScheduleNotification()"><md-icon>add</md-icon></button>
</div>
<ngx-datatable class='material'
               [columnMode]="'force'"
               [headerHeight]="50"
               [footerHeight]="50"
               [rowHeight]="'auto'"
               [limit]="10" [rows]='rows'>
  <ngx-datatable-column name="Notification" [sortable]="true"></ngx-datatable-column>

  <ngx-datatable-column name="Schedule Time" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{(row?.notification_datetime)}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="notification_id">
    <ng-template ngx-datatable-header-template>Action</ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button md-icon-button (click)="onDeleteScheduleNotification(row?.notification_id)"><md-icon style="color:brown">delete</md-icon></button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
